@import "../global_varibles.scss";

.nf {
    display: flex;
    place-items: center;
    width: 100%;
    height: 100vh;
    background: var(--bg-primary-300);
    color: var(--fc-white);

    h1 {
        font-size: $fs-6xl;
        font-weight: 900;
        text-align: center;

        &:hover {
            color: darken($color: white, $amount: 5%);
            text-decoration: underline;
        }
    }
}