$bg-blue-300: hsl(212, 96%, 78%);
$bg-blue-400: hsl(213, 94%, 69%);
$bg-blue-450: hsl(213, 96%, 65%);


$fs-md: .5rem;
$fs-xl: 1rem;
$fs-2xl: 2rem;
$fs-3xl: 3rem;
$fs-6xl: 6.9rem;
$fs-8xl: 8rem;